.btn {
    text-decoration: none;
    border-radius: 16px;
    padding: 6px 30px;
    display: inline-block;
    transition: all 140ms ease-out;
    text-align: center;
    &-block {
        display: block;
    }
    &-yellow {
        background-color: #FCD532;
        color: #555;
        &:hover,
        &:visited,
        &:focus {
            color: #444;
            background-color: lighten(#FCD532, 10);
            box-shadow: 0 0 10px 0px lighten(#FCD532, 10);
        }
    }
    &-white {
        border-color: #F2F2F2;
        color: #F2F2F2;
        &:hover,
        &:focus {
            border-color: #F2F2F2;
            background-color: #F2F2F2;
            color: #333;
        }
    }
    &-bordered {
        border: 1px solid;
    }
    &-subscibe {
        font-size: 18px;
    }
}