@include createColor('yellow', #fcd532);
@include createColor('dark', #666666);


.pattern {
    &-lines {
        background-image: url(/assets/img/lines-pattern-seamless.png);
        background-repeat: repeat;
    }
    &-dots {
        background-image: url(/assets/img/dots-pattern-seamless.png);
        background-repeat: repeat;
    }
    &-dots-dark {
        background-image: url(/assets/img/dots-pattern-seamless_dark.png);
        background-repeat: repeat;
    }
}