.footer {
	background:#666666;
	font-size: 18px;
	padding: 10px 0;
	&-container {
		@include flexbox();
		@include flex-flow(row nowrap);
		@include flex-just(space-between);
		align-items: center;
	}
	&-social {
		&-link {
			color: #fafafa;
			font-size: 24px;
			margin-right: 6px;
			&:focus,
			&:hover {
				color: #FCD532;
				text-decoration: none;
			}
		}
	}
}