.form {
    .input-group {
        margin-bottom: 10px;
    }
    &-control {
        
    }
    &-button {
        width: 100%;
        outline: none;
        border: 1px solid #ddd;
        padding: 8px;
        background: #fafafa;
        border-radius: 3px;
        color: #666;
        cursor: pointer;
        @include card(0);
        transition: all 100ms ease-out;
        &:hover {
            color: #333;
            border-color: #bbb;
            @include card(3);
        }
        &:focus {
            @include card(1);
            background-color: #ddd;
            outline: none;
        }
    }
}

.has-warning .input-group-addon {
    color: #ff8989;
    border-color: #ff8989;
}

.input-group-addon:not(:last-child) {
    width: 40px;
}