.gallery {
    &-loading {
        text-align: center;
        background: rgba(255, 255, 255, .4);
        color: #fff;
        padding: 14px;
        margin: 10px 35px;
    }
    margin: 20px 0 0;
    &-item {
        display: block;
        width: 20%;
        padding: 4px;
        cursor: pointer;
        // margin-bottom: 10px;
        opacity: .7;
        transition: all 140ms ease-out;
        &:hover {
            opacity: 1;
            img {
                @include card(5);
            }
        }
        img {
            max-width: 100%;
            transition: all 140ms ease-out;
            @include card(1);
        }
    }
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 9999999;
    cursor: zoom-out;
    
    &-item {
        cursor: zoom-out;
        position: fixed;
        width: 60%;
        max-height: 90%;
        @include card(5);
        border-radius: 5px;
        border: 1px solid #333;
    }
}


.video-container {
    position: relative;
    padding-bottom: 54%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin-bottom: 20px;
    @include card(3);
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}