.header {
    background: $main-bg;
    height: $header-height;

    &-phone {
        display: block;
        font-weight: 800;
        font-size: 26px;
        font-style: italic;

        margin: 6px 0;
    }
    @include media-breakpoint-down(md) {
        .logo {
            width: 140px;
            margin-top: 25px;
        }
    }
}