.dialog {
    width: 400px;
    position: fixed;
    z-index: 999999;
    background: #fafafa;
    @include card(5);
    &-header {
        background: #666;
        padding: 12px 20px;
    }
    &-close {
        float: right;
        &,
        &:active,
        &:focus {
            color: #fafafa;
        }
        &:hover{ color: #ddd }
    }
    &-body {
        padding: 20px;
    }
}

#dialog-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 99999;
}