.nav {
	@include media-breakpoint-down(md) {
		height: 60px;
		&-fixed {
			position: fixed;
			z-index: 99999;
			right: 0;
			left: 0;
			top: 0;
			height: 60px;
		}
		&-fallback {
			display: block;
			height: 60px;
		}
		& > a {
			@include flexbox();
			@include align-items(center);
			@include flex-just(center);
			i {
				margin-right: 20px;
			}
		}
	}
	
	
	background: $nav-bg;
	& > a {
		&:focus,
		&:active {
			color: #FCD532;
		}
		&:not(:first-child) {
			border-left: 1px solid #666666;
		}
	}
	&-logo {
		background: #666666;
		display: block;
		width: 100%;
		img {
			display: block;
			margin: 0 auto;
		}
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}
	&-mobile {
		&-link {
			@extend .nav-toogle;
		}
	}
	@include media-breakpoint-down(md) {
		&-overlay {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(0, 0, 0, .5) url(/assets/img/dots-pattern-seamless.png) repeat;
			z-index: 10000;
		}
		.container {
			transition: transform 300ms ease;
			position: fixed;
			background: rgba(252, 213, 50, 1);
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			z-index: 10001;
			transform: translateY(-100%);
			padding: 0;
			&.nav-show {
				transform: translateY(0);
			}
			.nav-menu {
				padding: 20px;
			}
		}
	}
	&-toogle {
		@include media-breakpoint-up(lg) {
			display: none;
		}
		&:focus,
		&:active {
			color: #FCD532;
			text-decoration: none;
		}
		background: darken(#666666, 10);
		color: #fafafa;
		display: block;
		width: 100%;
		font-weight: 300;
		padding: 6px 0;
		text-align: center;
		font-size: 20px;
		text-transform: uppercase;
	}
	&-close {
		@extend .nav-toogle;
		width: 100%;
		margin-bottom: -2px;
		padding: 6px;
		background-color: rgba(50, 50, 50, .8);
	}
	&-menu {
		@include media-breakpoint-up(lg) {
			height: $nav-height;
		}
		@include media-breakpoint-down(md) {
			@include flex-flow(column nowrap);
		}
		@include flex-flow(row nowrap);
		@include flexbox();
		@include flex-just(center);
		@include align-items(center);
	}
	&-submenu {
		z-index: 2;
		@include media-breakpoint-down(md) {
			display: block;
		}
		@include media-breakpoint-up(lg) {
			position: absolute;
			left: 0;
			right: 0;
			padding-top: 48px;
		}

		&-container {
			@include media-breakpoint-up(lg) {
				width: 300px;
				.nav-submenu-item {
					@include card(5);
				}
			}
			.nav-submenu-item {
				@include media-breakpoint-up(lg) {
					&:not(:last-child) {
						border-bottom: 1px solid lighten(#666, 20);
					}
				}
				list-style: none;
				// margin-bottom: 10px;
				a {
					border-radius: 0;
					padding: 10px 0;	
					
					@include media-breakpoint-up(lg) {
						background-color: #666;
						color: #fafafa;
					}
					
					border: none;
					&:hover {
						background-color: lighten(#666, 2);
						@include media-breakpoint-down(md) {
							background: none;
						}
					}
				}
			}
		}
		
		
		
	}
	&-item {
		position: relative;
		&:hover {
			.nav-submenu {
				
			}
		}
		
		white-space: nowrap;
		@include flexbox();
		@include flex-grow(1);
		@include flex-flow(column nowrap);
		list-style: none;
		@include media-breakpoint-up(lg) {
			&:not(:first-child) {
				margin-left: 20px;
			}
		}
		@include media-breakpoint-down(md) {
			width: 100%;
			margin: 6px 0;
		}
		&-down {
			& > a:hover::after {
				content: '\f107';
			}
		}
		
		a {
			z-index: 3;
			width: 100%;
			text-decoration: none;
			padding: 2px 20px;
			display: block;
			color: $menu-link-color;
			font-size: 18px;
			text-align: center;
			border: 1px solid $menu-item-bg-color;
			border-radius: 16px;

			transition: all 0.25s ease-out;
			

			@include media-breakpoint-down(lg) {
				padding: 6px 20px;
			}
			position: relative;
			&:after{
				content: "\f105";
				font-family: "FontAwesome";
				position: absolute;
				margin-top: 1px;
				color: #aaa;
				right: 35px;
				opacity: 0;
				transition: all 300ms ease-out;
			}
			
			&:hover {
				background-color: $menu-item-bg-color-hover;
				color: $menu-link-color-hover;
				
				@include media-breakpoint-up(lg) {
					padding-right: 30px;
					padding-left: 10px;
				}
				&:after{
					right: 14px;
					opacity: 1;
					animation: menu-link-loop 1s .3s infinite ease-in-out;
				}
			}
		}
	}
}
.hidden {
	display: none !important;
}