.owl {
    &-card {
        background: #666666;
        box-shadow: 0 0 6px 0 #666666;
        height: 200px;
        padding: 10px 16px;
        @include flexbox();
        @include flex-flow(column nowrap);
        position: relative;
        background-size: cover;
        border: 1px solid #666;

        &-header{
            @include flex-grow(1);
            font-weight: 600;
            text-transform: uppercase;
            font-size: 20px;
            display: block;
            z-index: 2;
        }
        &-description {
            font-weight: 300;
            z-index: 2;
        }
        &:before {
            content: '';
            @include fill();
            background-color: #666;
            opacity: .6;
        }
    }
    &-container {
        margin: 0 200px;
        @include media-breakpoint-down(md) {
            margin: 0 100px;
        }
        padding-bottom: 20px;
    }
    &-carousel {
        margin-top: 30px;
    }
}