.programm {
    @include media-breakpoint-down(md) {
        width: 80%;
        height: 260px;
    }
    width: 350px;
    height: 180px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    @include card(2);
    transition: all 140ms ease-out;

    &:hover {
        @include card(5);
        .programm-desc {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &-list {
        margin-bottom: 200px;
        z-index: 2;
        margin: 40px auto 0;
        @include flexbox();
        @include flex-flow(row wrap);
        @include flex-just(space-between);
        @include media-breakpoint-only(lg) {
            @include flex-just(space-around);
        }
        @include media-breakpoint-down(md) {
            @include flex-just(center);
        }
    }
    &-thumb {
        background: #666666;
        position: absolute;
        z-index: -1;
        width: 100%;
        img {
            width: 100%;
            opacity: .6;
        }
    }
    &-title {
        display: block;
        padding: 12px 16px;
        font-size: 20px;
        font-weight: 800;
        @include media-breakpoint-down(md) {
            font-size: 26px;
        }
    }
    &-open {
        position: absolute;
        right: 14px;
        bottom: 14px;
        border: 1px solid #fafafa;
        border-radius: 16px;
        padding: 0 8px;
        color: #fafafa;
        font-weight: 300;
        font-size: 14px;
        z-index: 2;
        transition: all 140ms ease-out;
        &:hover,
        &:active,
        &:focus {
            background: #fafafa;
            color: #666;
            text-decoration: none;
        }
    }
    &-desc {
        @include flexbox();
        @include align-items(center);
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        min-height: 50px;
        background: rgba(252, 213, 50, .8);
        padding: 12px;
        line-height: 14px;
        padding-right: 120px;
        font-size: 13px;
        margin: 0;
        color: #333;
        font-style: italic;
        font-weight: 300;
        opacity: 0;
        transform: translateY(100%);
        transition: all 140ms ease-out;
    }

}