.section {
    
    &-header {
        font-weight: 800;
        font-style: normal;
        font-size: 80px;
        padding-top: 30px;
        margin: 0;
        text-transform: uppercase;
    }

    &-content {
        @include flexbox();
        @include flex-flow(row nowrap);
        @include flex-just(stretch);
    }
    &-left,
    &-right {
        @include flexbox();
        @include flex-flow(column wrap);
        @include flex(1, 1, 0);
    }
    &-right {
        @include flex(1.5, 1, 0);
    }
}


.contacts {
    position: relative;

    &-desc {
        font-style: italic;
        margin: 40px 0;
        color: #666;
    }

    &-name {
        font-weight: 800;
        color: #666;
        font-size: 38px;
        margin-top: 20px;
    }
    &-address {
        color: #666;
        font-size: 30px;
    }

    &-connect {
        font-weight: 800;
        font-size: 22px;
        color: #666;
        span {
            display: block;
        }
    }

    &-map {
        @include media-breakpoint-up(lg) {
            position: absolute;
            left: 50%;
            right:0;
            top: 0;
            bottom: 0;
        }
        @include media-breakpoint-down(md) {
            height: 400px;
            border-top: 10px solid #666666;
        }
    }
}

/*DL, DT, DD TAGS LIST DATA*/
dl {
    margin-bottom:50px;
}
 
dl dt {
    float: left;
    font-weight: bold;
    margin-right: 10px;
    padding: 5px;
    width: 30px;
}
 
dl dd {
    margin:2px 0;
    padding:5px 0;
}   