.share {
	background: rgba(250, 250, 250, .2);
	box-shadow: 6px 6px 14px 0 rgba(150, 110, 0, .2);
	border-radius: 5px;
	padding: 20px;
	margin: 10px 10px 10px;
	color: #666666;
	@include flexbox();
	@include flex-flow(column wrap);
	@include align-items(center);
	width: 280px;

	&-list {
		margin: 20px 0;
		@include flexbox();
		white-space: nowrap;
		@include flex-flow(row wrap);
		@include flex-just(center);
		// @include align-items(flex-start);
	}
	&-icon {
		width: 150px;
		height: 150px;
		img {
			margin: 0 auto;
			display: block;
		}
	}
	&-title {
		font-weight: 800;
		font-style: italic;
		display: block;
		text-align: center;
		font-size: 34px;
	}
	&-desc {
		font-weight: 300;
		font-style: italic;
		display: block;
		text-align: center;
		font-size: 18px;
		white-space: normal;
	}
}

// .mCSB_scrollTools.mCSB_scrollTools_horizontal {
// 	margin: 0 60px;
// }
// .mCS-inset-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, 
// .mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, 
// .mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
// 	background: rgba(150, 110, 0, .8);
// }
// .mCS-inset-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, 
// .mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, 
// .mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
// 	background: rgba(150, 110, 0, .6);
// }