.slider {
    &-img {
        height: 100%;
    }
    &-item {
        @include flexbox();
		@include flex-just(center);
		@include align-items(center);
        &-title {
            font-weight: 900;
            font-size: 100px;
            margin-top: 20px;
            text-transform: uppercase;
            max-width: 900px;
            text-shadow: 6px 4px 26px #333;
            @include media-breakpoint-down(md) {
                font-size: 76px;
            }
            @include media-breakpoint-down(sm) {
                font-size: 46px;
                padding: 20px;
                text-align: center;
            }
        }
        &-desc {
            background: rgba(255, 255, 255, .9); 
            color: #444;
            font-weight: 100;
            font-style: italic;
            padding: 4px 10px;
            font-size: 27px;
            @include media-breakpoint-down(lg) {
               display: none;
            }
        }
    }
    &-wrapper {
        height: 680px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    &-static {
        z-index: 9999;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        @include flexbox();
        @include align-items(flex-end);
        @include flex-just(center);
        margin-bottom: 60px;
    }
    &:after {
        content: '';
        display: block;
        @include fill();
        background: url(/assets/img/dots-pattern-seamless.png) repeat;
    }
}