.tabs {
    @include clearfix();
    list-style: none;
    margin: 10px 2px;
    &-link {
        float: left;
        border: 1px solid #fafafa;
        border-radius: 16px;
        padding: 0 14px;
        &:not(:first-child) {
            margin-left: 10px;
        }
        &-active,
        &:hover {
            color: #333;
            background: #fafafa;
            cursor: pointer;
        }
        &:hover {
            background: darken(#fafafa, 20);
        }
    }

    &-item {
        display: none;
        &-active {
            display: block;
        }
    }
}