.trainer {

	@include media-breakpoint-up(lg) {
		width: 31%;
	}
	margin-bottom: 24px;

	&-thumb {
		height: 300px;
		overflow: hidden;
		img {
			max-height: 100%;
			min-width: 100%;
		}
	}

	&-desc {
		background: #FCD532;
		padding: 10px 16px 14px;
		color: #666;
	}
	&-name {
		display: block;
		font-weight: 800;
		font-size: 22px;
	}
	&-title {
		display: block;
		font-style: italic;
		font-size: 14px;
	}
	&-spec {
		&s {
			background: #666;
			padding: 10px 16px 14px;
			font-size: 14px;
		}
		&-title {
			font-weight: 800;
			font-style: italic;
		}
		&-value {
			font-style: italic;
		}
	}



	&-list {
		margin-bottom: 200px;
		margin: 40px auto 0;
		@include flexbox();
		@include flex-flow(row wrap);
		@include flex-just(space-around);
		@include media-breakpoint-only(lg) {
			@include flex-just(space-around);
		}
		@include media-breakpoint-down(md) {
			@include flex-just(center);
		}
	}

}