<!doctype html>
<html lang="ru">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=.6, maximum-scale=.6, user-scalable=no">
		<title><%= htmlWebpackPlugin.options.title %></title>
		<style>
			#preloader {
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: #666666;
				z-index: 999999;
			}
			.preloader-spinner {
				width: 60px;
				height: 60px;

				position: relative;
				margin: 100px auto;
				top: 30%;
			}

			.double-bounce1, .double-bounce2 {
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background-color: #fafafa;
			opacity: 0.6;
			position: absolute;
			top: 0;
			left: 0;
			
			-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
			animation: sk-bounce 2.0s infinite ease-in-out;
			}

			.double-bounce2 {
			-webkit-animation-delay: -1.0s;
			animation-delay: -1.0s;
			}

			@-webkit-keyframes sk-bounce {
			0%, 100% { -webkit-transform: scale(0.0) }
			50% { -webkit-transform: scale(1.0) }
			}

			@keyframes sk-bounce {
			0%, 100% { 
				transform: scale(0.0);
				-webkit-transform: scale(0.0);
			} 50% { 
				transform: scale(1.0);
				-webkit-transform: scale(1.0);
			}
			}
		</style>
		<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
		<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,800,800i" rel="stylesheet">
	</head>
	<body>
		<%= require('templates/header.html') %>
		<%= require('templates/nav.html') %>
		<main class="main">
			<section class="section">
				<h1 class="section-header bg-dark text-center pattern-lines" style="padding: 20px 0 30px">
					О центре
				</h1>
				<div class="section-content">
					<div class="container">
                        <div class="navigator-body table-responsive">
                            <div class="navigator-body-header">Скоро открытие!</div>
                            <div class="navigator-body-subscribe">
                                <a href="#" class="btn btn-yellow btn-subscibe" data-modal="subscribe">Записаться онлайн</a>
                            </div>
                        </div>
                    </div>
				</div>
			</section>
			<%= require('templates/shares/shares-nopattern.html') %>
		</main>
		<%= require('templates/dialogs.html') %>
		<%= require('templates/footer.html') %>
		
		<div id="preloader">
			<div class="preloader-spinner">
				<div class="double-bounce1"></div>
				<div class="double-bounce2"></div>
			</div>
		</div>
	</body>
</html>