<section class="section bg-yellow pattern-lines">
    <h1 class="section-header fg-dark text-center">
        Почему мы?
    </h1>
    <div class="">
        <div class="share-list">
            <div class="share">
                <div class="share-icon">
                    <img src="/assets/icons/people_group.svg">
                </div>
                <span class="share-title">Клиента</span>
                <span class="share-desc">В Москве и области</span>
            </div>
            <div class="share">
                <div class="share-icon">
                    <img src="/assets/icons/batuty.svg">
                </div>
                <span class="share-title">Батута</span>
                <span class="share-desc">В одном зале и паралоновая яма</span>
            </div>
            <div class="share">
                <div class="share-icon">
                    <img src="/assets/icons/path.svg">
                </div>
                <span class="share-title">Минут</span>
                <span class="share-desc">Пешком от метро</span>
            </div>
            <div class="share">
                <div class="share-icon">
                    <img src="/assets/icons/calendar.svg">
                </div>
                <span class="share-title">Лет</span>
                <span class="share-desc">Опыта в спорте</span>
            </div>
            <div class="share">
                <div class="share-icon">
                    <img src="/assets/icons/muscle.svg">
                </div>
                <span class="share-title">5 Тренеров</span>
                <span class="share-desc">С бесценным опытом</span>
            </div>
            <div class="share">
                <div class="share-icon">
                    <img src="/assets/icons/smile.svg">
                </div>
                <span class="share-title">Чего-то</span>
                <span class="share-desc">Зона отдыха для проведения праздничных мероприятий и отдыха после тренировок</span>
            </div>

        </div>
    </div>
</section>
