<section class="section contacts pattern-dots" id="contacts">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<h1 class="section-header fg-yellow">Контакты</h1>
				<h2 class="contacts-name">Батутный клуб "Рубикон"</h2>
				<h3 class="contacts-address">г.Москва, 2-й Кабельные пр-д, д. 1</h3>

				<p class="contacts-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut iste optio officia earum ratione nesciunt, vero molestias veritatis. Soluta, minima rem. Velit blanditiis, esse. Magnam nam, atque et autem obcaecati, nemo aspernatur aliquid, eaque vel nesciunt vero rem eos illum quasi. Saepe ea earum, iure repellat assumenda, animi perferendis nesciunt.</p>
				<div class="contacts-connect">
					<dl>
						<dt><i class="fa fa-phone"></i> </dt>
						<dd>
							<span>8(499) 750-96-83</span>
							<span>8(897) 42-47-22</span>
						</dd>
					
						<dt><i class="fa fa-envelope"></i> </dt>
						<dd>
							<span>rubikon@mail.ru</span>
						</dd>
					</dl>
				</div>
				<div class="social">
					<a href="#" class="social-link">
						<img src="/assets/icons/social/facebook-circle.svg" alt="Facebook">
					</a>
					<a href="#" class="social-link">
						<img src="/assets/icons/social/instagram-circle.svg" alt="Instagram">
					</a>
					<a href="#" class="social-link">
						<img src="/assets/icons/social/twitter-circle.svg" alt="Twitter">
					</a>
					<a href="#" class="social-link">
						<img src="/assets/icons/social/vk-circle.svg" alt="ВКонтакте">
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="contacts-map">
		<div id="map"></div>
	</div>
</section>