<script type="x-template/html" id="dialog-subscribe">
    <div class="dialog" data-dialog-type="subscribe">
        <div class="dialog-header">
            <span class="dialog-title">Записаться онлайн</span>
            <a href="#" class="dialog-close">
                <i class="fa fa-times"></i>
            </a>
        </div>
        <div class="dialog-body">
            <form class="form">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                    <input type="text" placeholder="Ваше имя" name="name" class="form-control" required>
                </div>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                    <input type="text" placeholder="Ваш телефон" name="phone"class="form-control" required>
                </div>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-calendar-o"></i></div>
                    <input type="text" placeholder="Дата посещения" name="date" data-type="time" class="form-control" required>
                </div>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                    <input type="text" placeholder="Время посещения" name="time" data-type="time" class="form-control" required>
                </div>
                <button type="button" class="form-button" data-dialog-action="submit">Отправить</button>
            </form>
        </div>
    </div>
</script>

<script type="x-template/html" id="dialog-callme">
    <div class="dialog" data-dialog-type="callme">
        <div class="dialog-header">
            <span class="dialog-title">Заказать звонок</span>
            <a href="#" class="dialog-close">
                <i class="fa fa-times"></i>
            </a>
        </div>
        <div class="dialog-body">
            <form class="form">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                    <input type="text" placeholder="Ваше имя" name="name" class="form-control" required>
                </div>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                    <input type="text" placeholder="Ваш телефон" name="phone" class="form-control" required>
                </div>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                    <textarea class="form-control" name="message" placeholder="Оставить сообщение"></textarea>
                </div>
                <button type="button" class="form-button" data-dialog-action="submit">Отправить</button>
            </form>
        </div>
    </div>
</script>