<footer class="footer">
	<div class="container footer-container">
		<div>&copy; 2017 Рубикон</div>
		<div class="footer-social">
			<a href="#" class="footer-social-link">
				<i class="fa fa-facebook"></i>
			</a>
			<a href="#" class="footer-social-link">
				<i class="fa fa-instagram"></i>
			</a>
			<a href="#" class="footer-social-link">
				<i class="fa fa-twitter"></i>
			</a>
			<a href="#" class="footer-social-link">
				<i class="fa fa-vk"></i>
			</a>
		</div>
		<div>
			<span><i class="fa fa-phone"></i> 8 (977) 42-47-577</span>
		</div>
	</div>
</footer>