<header class="header">
    <div class="container">
        <a href="#">
            <img src="/assets/img/logo.png" alt="Batuty" class="logo">
        </a>
        <div class="pull-right">
            <span class="header-phone"><i class="fa fa-phone"></i> 8(977)42-47-577</span>
            <a href="#" class="btn btn-white btn-bordered btn-block" data-modal="callme">Заказать звонок</a>
        </div>
    </div>
</header>