<nav class="nav">
	<a href="#" class="nav-toogle"><i class="fa fa-bars"></i> Меню</a>
	<a href="#" class="nav-mobile-link" data-modal="subscribe"><i class="fa fa-bell"></i> Записаться</a>
	<div class="container">
		<div class="nav-logo">
			<img src="/assets/img/logo.png">
		</div>
		<ul class="nav-menu">
			<li class="nav-item"><a href="/">Главная</a></li>
			<li class="nav-item"><a href="/about.html">О центре</a></li>
			<li class="nav-item"><a href="/programm.html#schedule">Расписание</a></li>
			<li class="nav-item"><a href="/trainers.html">Тренеры</a></li>
			<li class="nav-item nav-item-down">
				<a href="#">Программы</a>
				<div class="nav-submenu">
					<ul class="nav-submenu-container hidden">
						<li class="nav-submenu-item"><a href="/programm.html">Батут</a></li>
						<li class="nav-submenu-item"><a href="/programm.html">Акробатика</a></li>
						<li class="nav-submenu-item"><a href="/programm.html">Функциональная тренировка</a></li>
						<li class="nav-submenu-item"><a href="/programm.html">Корпоративы и праздники</a></li>
						<li class="nav-submenu-item"><a href="/programm.html">Сноуборд и вейкборд</a></li>
						<li class="nav-submenu-item"><a href="/programm.html">Детские группы</a></li>
					</ul>
				</div>
			</li>
			<li class="nav-item"><a href="/price.html">Цены</a></li>
			<li class="nav-item"><a href="/index.html#contacts">Контакты</a></li>
		</ul>
		<a href="#" class="nav-close"><i class="fa fa-chevron-up"></i></a>
	</div>
</nav>