<section class="section pattern-dots">
	<h1 class="section-header text-center">
		Программы
	</h1>
	<div class="section-content">
		<div class="container programm-list">
			
			<div class="programm">
				<div class="programm-thumb">
					<img src="/assets/img/photos/programms-photo/akro.jpg">
				</div>
				<span class="programm-title">Акробатика</span>
				<a href="/programm.html" class="programm-open">Подробнее</a>
				<p class="programm-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, fuga!</p>
			</div>
			
			<div class="programm">
				<div class="programm-thumb">
					<img src="/assets/img/photos/programms-photo/255706_57f65bce4f94a57f65bce4f987.jpeg">
				</div>
				<span class="programm-title">Батут</span>
				<a href="/programm.html" class="programm-open">Подробнее</a>
				<p class="programm-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, fuga!</p>
			</div>
			
			<div class="programm">
				<div class="programm-thumb">
					<img src="/assets/img/photos/programms-photo/f8db99c4f9ed2ab803ec8242b7c52350-1024x681.jpg">
				</div>
				<span class="programm-title">Функциональная тренировка</span>
				<a href="/programm.html" class="programm-open">Подробнее</a>
				<p class="programm-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, fuga!</p>
			</div>
			
			<div class="programm">
				<div class="programm-thumb">
					<img src="/assets/img/photos/programms-photo/trampoline_park.jpg">
				</div>
				<span class="programm-title">Сноуборд и вейкборд</span>
				<a href="/programm.html" class="programm-open">Подробнее</a>
				<p class="programm-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, fuga!</p>
			</div>
			
			<div class="programm">
				<div class="programm-thumb">
					<img src="/assets/img/photos/programms-photo/vozdushnaya_gimnastika.jpg.crop_display.jpg">
				</div>
				<span class="programm-title">Корпоративы и праздники</span>
				<a href="/programm.html" class="programm-open">Подробнее</a>
				<p class="programm-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, fuga!</p>
			</div>
			
			<div class="programm">
				<div class="programm-thumb">
					<img src="/assets/img/photos/programms-photo/trampoline_park.jpg">
				</div>
				<span class="programm-title">Детские группы</span>
				<a href="/programm.html" class="programm-open">Подробнее</a>
				<p class="programm-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, fuga!</p>
			</div>

		</div>
	</div>
</section>