<div class="slider-wrapper">
    <div class="slider">
        <div class="slider-item" style="background-image: url(/assets/img/photos/15.jpg)">
            <div class="container">
                <h1 class="slider-item-title">Абсолютно любой текст на главной</h1>
                <span class="slider-item-desc">И даже краткое описание к нему</span>
            </div>
        </div>
        <div class="slider-item" style="background-image: url(/assets/img/photos/7.jpg)">
            <div class="container">
                <h1 class="slider-item-title">Другой клевый текст</h1>
                <span class="slider-item-desc">И даже краткое описание к нему</span>
            </div>
        </div>
        <div class="slider-item" style="background-image: url(/assets/img/photos/9.jpg)">
            <div class="container">
                <h1 class="slider-item-title">Batut</h1>
                <span class="slider-item-desc">И описание к нему</span>
            </div>
        </div>
        <div class="slider-item" style="background-image: url(/assets/img/photos/6.jpg)">
            <div class="container">
                <h1 class="slider-item-title">Batut без описания</h1>
            </div>
        </div>
        <div class="slider-item" style="background-image: url(/assets/img/photos/16.jpg)">
            <div class="container">
                <h1 class="slider-item-title">Очень длинный Batut</h1>
            </div>
        </div>
    </div>
    <div class="slider-static">
        <a href="#" class="btn btn-yellow btn-subscibe" data-modal="subscribe">Записаться онлайн</a>
    </div>
</div>