<section class="section">
	<h1 class="section-header text-center">
		Тренеры 
	</h1>
	<div class="section-content">
		<div class="container trainer-list">
			
			<div class="trainer">
				<div class="trainer-thumb">
					<img src="/assets/img/trainers/1.jpg">
				</div>
				<div class="trainer-desc">
					<span class="trainer-name">Леонтий Быков</span>
					<span class="trainer-title">Тренер</span>
				</div>
				<div class="trainer-specs">
					<div class="trainer-spec">
						<span class="trainer-spec-title">
							Сертифицированный тренер
						</span>
						<span class="trainer-spec-value">
							Crossfit level 1
						</span>
					</div>
					<div class="trainer-spec">
						<span class="trainer-spec-title">
							Тренерский стаж
						</span>
						<span class="trainer-spec-value">
							4 года
						</span>
					</div>
					<div class="trainer-spec">
						<span class="trainer-spec-title">
							Чемпион Волгоградской области
						</span>
						<span class="trainer-spec-value">
							по Кроссфиту (2013 г.)
						</span>
					</div>
				</div>
			</div>
			<div class="trainer">
				<div class="trainer-thumb">
					<img src="/assets/img/trainers/2.jpg">
				</div>
				<div class="trainer-desc">
					<span class="trainer-name">Даниил Анастасьев</span>
					<span class="trainer-title">Тренер</span>
				</div>
				<div class="trainer-specs">
					<div class="trainer-spec">
						<span class="trainer-spec-title">
							Сертифицированный тренер
						</span>
						<span class="trainer-spec-value">
							Crossfit level 1
						</span>
					</div>
					<div class="trainer-spec">
						<span class="trainer-spec-title">
							Тренерский стаж
						</span>
						<span class="trainer-spec-value">
							4 года
						</span>
					</div>
					<div class="trainer-spec">
						<span class="trainer-spec-title">
							Чемпион Волгоградской области
						</span>
						<span class="trainer-spec-value">
							по Кроссфиту (2013 г.)
						</span>
					</div>
				</div>
			</div>
			<div class="trainer">
				<div class="trainer-thumb">
					<img src="/assets/img/trainers/6.jpg">
				</div>
				<div class="trainer-desc">
					<span class="trainer-name">Владимир Йолкин</span>
					<span class="trainer-title">Тренер</span>
				</div>
				<div class="trainer-specs">
					<div class="trainer-spec">
						<span class="trainer-spec-title">
							Сертифицированный тренер
						</span>
						<span class="trainer-spec-value">
							Crossfit level 1
						</span>
					</div>
					<div class="trainer-spec">
						<span class="trainer-spec-title">
							Тренерский стаж
						</span>
						<span class="trainer-spec-value">
							4 года
						</span>
					</div>
					<div class="trainer-spec">
						<span class="trainer-spec-title">
							Чемпион Волгоградской области
						</span>
						<span class="trainer-spec-value">
							по Кроссфиту (2013 г.)
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>