@import '~normalize.css/normalize.css';

@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/clearfix';
@import '~bootstrap/scss/mixins/breakpoints'; // media-breakpoint-(up|down|between|only)

@import './common/variables';
@import './common/_mixins';

@import './components/nav';
@import './components/header';
@import './components/slider';
@import './components/section';
@import './components/button';
@import './components/footer';
@import './components/social';
@import './components/owl';
@import './components/share';
@import './components/colors';
@import './components/programm';
@import './components/modal';
@import './components/form';
@import './components/gallery';
@import './components/trainer';
@import './components/tabs';

* {
    box-sizing: border-box;
}

ul, li {
    margin: 0;
    padding: 0;
}

#map {
    width: 100%; height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif !important;
    background: $main-bg-second;
    color: $text-light;
    overflow-x: hidden;
    width: 100%;
    @include media-breakpoint-down(md) {
		&.no-scroll {
            overflow-y: hidden;
        }
	}
}

.wrapper {
    // width: 1150px;
    // width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

#ui_notifIt {
    z-index: 99999;
}


.social {
    @include flexbox();
    
    &-link {
        width: 50px;
        height: 50px;
        display: block;
        margin:0 10px 10px 0;
        img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            @include card(1);
            transition: box-shadow 140ms ease;
            &:hover {
                @include card(3);
            }
        }
    }
}


@keyframes menu-link-loop {
    0%, 100% {
        opacity: 1;
    } 
    50% {
        opacity: 0.4;
    }
}

.invisible {
    visibility: hidden;
}

.spinner {
  margin: 0 auto 0;
  width: 70px;
  cursor: wait;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fafafa;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.navigator {
    height: 240px;
    @include flexbox();
    justify-content: center;
    align-items: center;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    &:before {
        content: '';
        @include fill();
        background: rgba(100, 100, 100, .5);
    }
    &-title {
        color: #F3F2F0;
        font-weight: 800;
        font-size: 56px;
        z-index: 1;
        text-align: center;
    }
    &-body {
        margin: 20px 0;
        overflow-x: visible;
        .table {
            @include card(2);
        }
        thead tr th,
        tbody tr th {
            font-size: 1em;
            @include media-breakpoint-down(md) {
                font-size: .8em;
                padding: 10px 2px;
            }
        }
        thead tr th {
            background: #FCD532;
            color: #666;
            border: none;
            text-align: center;
            transition: background-color 140ms ease-out;
            &:hover {
                background-color: lighten(#FCD532, 10);
            }
        }
        tbody tr th {
            background-color: #666;
            color: #fafafa;
            font-weight: 300;
            text-align: center;
            transition: background-color 140ms ease-out;
            &:hover {
                background-color: #777;
            }
            border-color: #777;
        }
        tbody tr:nth-child(2n) {
            th {
                background-color: lighten(#666, 2);
                &:hover {
                    background-color: lighten(#777, 2);
                }
            }
        }
        &-header {
            text-align: center;
            margin: 0 0 20px;
            font-size: 42px;
            color: #666;
            font-weight: 800;
            font-style: italic;
            &-small {
                font-weight: 400;
                font-size: 36px;
            }
        }
        &-list {
            list-style: none;
        }
        &-list,
        &-article {
            font-style: italic;
            color: #666;
            font-size: 18px;
        }
        &-subscribe {
            margin: 20px auto;
            @include flexbox();
            @include flex-just(center);
        }
    }
}

.bold {
    font-weight: 800;
}

.price {
    @include flexbox();
    @include flex-just(center);
    @include align-items(flex-start);
    &-img {
        width: 70%;
    }
}

@include media-breakpoint-down(md) {
    #schedule {
        font-size: 12px !important;
    }
}