<section class="section">
    <div class="section-content bg-dark">
        <div class="container">
            <ul class="tabs">
                <li class="tabs-link tabs-link-active" data-target="photo">Фото</li>
                <li class="tabs-link" data-target="video">Видео</li>
            </ul>
            <div data-tab="video" class="tabs-item">
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/26U_seo0a1g" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div data-tab="photo" class="tabs-item tabs-item-active">
                <div class="gallery-loading">Загрузка изображений ...</div>
                <div class="gallery invisible">
                    <div class="gallery-item"><img src="/assets/img/photos/1.jpg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/2.jpg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/3.jpg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/4.jpg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/5.jpg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/6.jpg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/7.jpg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/8.jpeg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/9.jpg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/10.jpg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/11.jpg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/12.jpg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/13.jpg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/14.jpg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/15.jpg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/16.jpg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/1.jpg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/2.jpg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/3.jpg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/4.jpg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/5.jpg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/6.jpg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/7.jpg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/8.jpeg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/9.jpg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/10.jpg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/11.jpg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/12.jpg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/13.jpg" alt=""></div>
                    <div class="gallery-item"><img src="/assets/img/photos/14.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>