<section class="section">
    <h1 class="section-header bg-yellow pattern-lines fg-dark text-center">
        Галерея
    </h1>
    <div class="section-content bg-dark">
        <div class="container">
            <ul class="tabs">
                <li class="tabs-link tabs-link-active" data-target="photo">Фото</li>
                <li class="tabs-link" data-target="video">Видео</li>
                <li class="tabs-link" data-target="video" data-visible="video" style="display: none;" id="openVideo" href="https://www.youtube.com/watch?v=WGfvaB9yfzk&autoplay=1&rel=0&controls=0&showinfo=0"><i class="fa fa-youtube-play"></i> Воспроизвести</li>
            </ul>
            <div data-tab="video" class="tabs-item">
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/WGfvaB9yfzk" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div data-tab="photo" class="tabs-item tabs-item-active">
                <div class="gallery-loading">Загрузка изображений ...</div>
                <div class="gallery invisible">
                    <a href="/assets/img/photos/1.jpg" class="gallery-item" data-fancybox="gallery"><img src="/assets/img/photos/1.jpg" ></a>
                    <a href="/assets/img/photos/2.jpg" class="gallery-item" data-fancybox="gallery"><img src="/assets/img/photos/2.jpg" ></a>
                    <a href="/assets/img/photos/3.jpg" class="gallery-item" data-fancybox="gallery"><img src="/assets/img/photos/3.jpg" ></a>
                    <a href="/assets/img/photos/4.jpg" class="gallery-item" data-fancybox="gallery"><img src="/assets/img/photos/4.jpg" ></a>
                    <a href="/assets/img/photos/5.jpg" class="gallery-item" data-fancybox="gallery"><img src="/assets/img/photos/5.jpg" ></a>
                    <a href="/assets/img/photos/6.jpg" class="gallery-item" data-fancybox="gallery"><img src="/assets/img/photos/6.jpg" ></a>
                    <a href="/assets/img/photos/7.jpg" class="gallery-item" data-fancybox="gallery"><img src="/assets/img/photos/7.jpg" ></a>
                    <a href="/assets/img/photos/8.jpeg" class="gallery-item" data-fancybox="gallery"><img src="/assets/img/photos/8.jpeg" ></a>
                    <a href="/assets/img/photos/9.jpg" class="gallery-item" data-fancybox="gallery"><img src="/assets/img/photos/9.jpg" ></a>
                    <a href="/assets/img/photos/10.jpg" class="gallery-item" data-fancybox="gallery"><img src="/assets/img/photos/10.jpg" ></a>
                    <a href="/assets/img/photos/11.jpg" class="gallery-item" data-fancybox="gallery"><img src="/assets/img/photos/11.jpg" ></a>
                    <a href="/assets/img/photos/12.jpg" class="gallery-item" data-fancybox="gallery"><img src="/assets/img/photos/12.jpg" ></a>
                    <a href="/assets/img/photos/13.jpg" class="gallery-item" data-fancybox="gallery"><img src="/assets/img/photos/13.jpg" ></a>
                    <a href="/assets/img/photos/14.jpg" class="gallery-item" data-fancybox="gallery"><img src="/assets/img/photos/14.jpg" ></a>
                    <a href="/assets/img/photos/15.jpg" class="gallery-item" data-fancybox="gallery"><img src="/assets/img/photos/15.jpg" ></a>
                    <a href="/assets/img/photos/16.jpg" class="gallery-item" data-fancybox="gallery"><img src="/assets/img/photos/16.jpg" ></a>
                </div>
            </div>
        </div>
    </div>
</section>