<section class="section pattern-dots-dark">
    <h1 class="section-header fg-dark text-center">
        Акции
    </h1>
    <div class="owl-container">
        <div class="owl-carousel owl-theme">
            <div class="owl-card" style="background-image: url(/assets/img/photos/1.jpg)">
                <span class="owl-card-header">Красивый баннер 1</span>
                <span class="owl-card-description">Описание акции</span>
            </div>
            <div class="owl-card" style="background-image: url(/assets/img/photos/2.jpg)">
                <span class="owl-card-header">Красивый баннер 2</span>
                <span class="owl-card-description">Описание акции</span>
            </div>
            <div class="owl-card" style="background-image: url(/assets/img/photos/3.jpg)">
                <span class="owl-card-header">Красивый баннер 3</span>
                <span class="owl-card-description">Описание акции</span>
            </div>
            <div class="owl-card" style="background-image: url(/assets/img/photos/4.jpg)">
                <span class="owl-card-header">Красивый баннер 4</span>
                <span class="owl-card-description">Описание акции</span>
            </div>
            <div class="owl-card" style="background-image: url(/assets/img/photos/5.jpg)">
                <span class="owl-card-header">Красивый баннер 5</span>
                <span class="owl-card-description">Описание акции</span>
            </div>
            <div class="owl-card" style="background-image: url(/assets/img/photos/6.jpg)">
                <span class="owl-card-header">Красивый баннер 6</span>
                <span class="owl-card-description">Описание акции</span>
            </div>
            <div class="owl-card" style="background-image: url(/assets/img/photos/7.jpg)">
                <span class="owl-card-header">Красивый баннер 7</span>
                <span class="owl-card-description">Описание акции</span>
            </div>
            <div class="owl-card" style="background-image: url(/assets/img/photos/8.jpeg)">
                <span class="owl-card-header">Красивый баннер 8</span>
                <span class="owl-card-description">Описание акции</span>
            </div>
            <div class="owl-card" style="background-image: url(/assets/img/photos/9.jpg)">
                <span class="owl-card-header">Красивый баннер 9</span>
                <span class="owl-card-description">Описание акции</span>
            </div>
            <div class="owl-card" style="background-image: url(/assets/img/photos/10.jpg)">
                <span class="owl-card-header">Красивый баннер 10</span>
                <span class="owl-card-description">Описание акции</span>
            </div>
            <div class="owl-card" style="background-image: url(/assets/img/photos/11.jpg)">
                <span class="owl-card-header">Красивый баннер 11</span>
                <span class="owl-card-description">Описание акции</span>
            </div>
        </div>
    </div>
</section>
