$main-bg: #666666;
$main-bg-second: #B3B3B3;
$main-fg: #FCD532;
$text-light: #F2F2F2;
$text-dark: $main-bg;

// Header
$header-height: 100px;

// Nav
$nav-height: 64px;
$nav-bg: $main-fg;
$menu-item-bg-color: $main-bg;
$menu-item-bg-color-hover: $main-bg;
$menu-link-color: $main-bg;
$menu-link-color-hover: $text-light;
