<!doctype html>
<html lang="ru">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=.6, maximum-scale=.6, user-scalable=no">
		<title><%= htmlWebpackPlugin.options.title %></title>
		<style>
			#preloader {
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: #666666;
				z-index: 999999;
			}
			.preloader-spinner {
				width: 60px;
				height: 60px;

				position: relative;
				margin: 100px auto;
				top: 30%;
			}

			.double-bounce1, .double-bounce2 {
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background-color: #fafafa;
			opacity: 0.6;
			position: absolute;
			top: 0;
			left: 0;
			
			-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
			animation: sk-bounce 2.0s infinite ease-in-out;
			}

			.double-bounce2 {
			-webkit-animation-delay: -1.0s;
			animation-delay: -1.0s;
			}

			@-webkit-keyframes sk-bounce {
			0%, 100% { -webkit-transform: scale(0.0) }
			50% { -webkit-transform: scale(1.0) }
			}

			@keyframes sk-bounce {
			0%, 100% { 
				transform: scale(0.0);
				-webkit-transform: scale(0.0);
			} 50% { 
				transform: scale(1.0);
				-webkit-transform: scale(1.0);
			}
			}
		</style>
		<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
		<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,800,800i" rel="stylesheet">
	</head>
	<body>
		<%= require('templates/header.html') %>
		<%= require('templates/nav.html') %>
		<main class="main">
			<div class="navigator" style="background-image: url(/assets/img/photos/16.jpg)">
				<div class="navigator-title">Название программы</div>
			</div>
			<div class="container">
				<div class="navigator-body table-responsive">
					<div class="navigator-body-header">Дни рождения / Праздники / Корпоративы</div>
					<p class="navigator-body-article">
						День рождения на батуте — это мероприятие, сценарии, которых адаптированы, независимо от физической подготовленности, будь-то спортсмен или новичок, первы раз вставший на батут. Упражнения подобраны так, чтобы все, как взрослые, так и дети, весело смогли провести время и получить максимум эмоций не получив при этом травм.
					</p>
					<div class="navigator-body-header navigator-body-header-small">Структура проведения праздника</div>
					<ul class="navigator-body-list">
						<li><span class="bold">– Разминка</span> (комплекс общеразвивающих упражнений с элементами игры, растяжка)</li>
						<li><span class="bold">– Основная часть</span> индивидуальные батуты (прыжки, эстафеты, игры с мячами)</li>
						<li><span class="bold">– Поролоновая яма</span> (прыжки в яму, эстафеты, игры)</li>
						<li><span class="bold">– Заключительная яма</span> игры на восстановление дыхания, упражнения на внимание, поздавление именинника.</li>
					</ul>
					<div class="navigator-body-subscribe">
						<a href="#" class="btn btn-yellow btn-subscibe" data-modal="subscribe">Записаться онлайн</a>
					</div>
				</div>
			</div>

        	
			<%= require('templates/gallery/gallery-noheader.html') %>
			<div class="container">
				<div class="navigator-body" id="schedule">
					<div class="navigator-body-header">Расписание</div>
					<table class="table">
						<thead> <tr><th><i class="fa fa-clock-o"></i></th> <th>Понедельник</th> <th>Вторник</th> <th>Среда</th> <th>Четверг</th> <th>Пятница</th> <th>Суббота</th> <th>Воскресенье</th> </tr> </thead>
						<tbody>
							 <tr><th>10:00</th> <th>Понедельник</th> <th>Вторник</th> <th>Среда</th> <th>Четверг</th> <th>Пятница</th> <th>Суббота</th> <th>Воскресенье</th> </tr> 
							 <tr><th>11:00</th> <th>Понедельник</th> <th>Вторник</th> <th>Среда</th> <th>Четверг</th> <th>Пятница</th> <th>Суббота</th> <th>Воскресенье</th> </tr> 
							 <tr><th>12:00</th> <th>Понедельник</th> <th>Вторник</th> <th>Среда</th> <th>Четверг</th> <th>Пятница</th> <th>Суббота</th> <th>Воскресенье</th> </tr> 
							 <tr><th>1asdasdasdasdasdasd3:00</th> <th>Понедельник</th> <th>Вторник</th> <th>Среда</th> <th>Четверг</th> <th>Пятница</th> <th>Суббота</th> <th>Воскресенье</th> </tr> 
							 <tr><th>14:00</th> <th>Понедельник</th> <th>Вторник</th> <th>Среда</th> <th>Четверг</th> <th>Пятница</th> <th>Суббота</th> <th>Воскресенье</th> </tr> 
							 <tr><th>15:00</th> <th>Понедельник</th> <th>Вторник</th> <th>Среда</th> <th>Четверг</th> <th>Пятница</th> <th>Суббота</th> <th>Воскресенье</th> </tr> 
							 <tr><th>16:00</th> <th>Понедельник</th> <th>Вторник</th> <th>Среда</th> <th>Четверг</th> <th>Пятница</th> <th>Суббота</th> <th>Воскресенье</th> </tr> 
							 <tr><th>17:00</th> <th>Понедельник</th> <th>Вторник</th> <th>Среда</th> <th>Четверг</th> <th>Пятница</th> <th>Суббота</th> <th>Воскресенье</th> </tr> 
							 <tr><th>18:00</th> <th>Понедельник</th> <th>Вторник</th> <th>Среда</th> <th>Четверг</th> <th>Пятница</th> <th>Суббота</th> <th>Воскресенье</th> </tr> 
						</tbody>
					</table>
				</div>
			</div>
			<%= require('templates/shares/shares-nopattern.html') %>
		</main>
		<%= require('templates/dialogs.html') %>
		<%= require('templates/footer.html') %>
		
		<div id="preloader">
			<div class="preloader-spinner">
				<div class="double-bounce1"></div>
				<div class="double-bounce2"></div>
			</div>
		</div>
	</body>
</html>